@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --foreground: #171717;
  --silver: #bfbfbf;
  --platinum: #e8e8e8;
  --orange_wheel: #ff7d00;
  --celestial_blue: #5398be;
  --verdigris: #70a9a1;
  --mantis: #6db84c;
  --spring_green: #00ff7d;
  --black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: CabinCondensed;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Cabin_Condensed/CabinCondensed-Regular.ttf");
  }

  @font-face {
    font-family: CabinCondensed;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/Cabin_Condensed/CabinCondensed-Medium.ttf");
  }

  @font-face {
    font-family: CabinCondensed;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Cabin_Condensed/CabinCondensed-SemiBold.ttf");
  }

  @font-face {
    font-family: CabinCondensed;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Cabin_Condensed/CabinCondensed-Bold.ttf");
  }

  @font-face {
    font-family: JetBrainsMono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf");
  }

  @font-face {
    font-family: Grenze;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Grenze/Grenze-Regular.ttf");
  }

  body {
    color: var(--black);
    background: var(--white);
    @apply font-CabinCondensed text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-Grenze font-medium;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}
