@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --foreground: #171717;
  --verdigris: #70a9a1;
  --paynesgray: #3d5a6c;
  --amber: #f3b700;
  --oldrose: #b98389;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Lato/Lato-Regular.ttf");
  }

  @font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
  }

  @font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Oswald/Oswald-VariableFont_wght.ttf");
  }
}

body {
  color: var(--foreground);
  background: var(--paynesgray);
  padding: 1rem;
  @apply font-Lato;
  font-size: 1.25rem;
}

body h1 {
  @apply font-Oswald;
  font-weight: 400;
  font-size: 3rem;
}
